/* This stylesheet is RENDER-BLOCKING */
/* Only add priority styles that occur near the top of the page and/or prevent page jitter */

/*
CORE
HEADER
MENUS
BANNER
PRIORITY
*/

/*******************************************************************************************
CORE - Top-level styling
*******************************************************************************************/
:root {
  font-size: 17px;
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.7rem;
  --font-size-h3: 1.4rem;
  --font-size-h4: 1.2rem;
  --font-size-h5: 1.1rem;
  --color-body-text: #14172f;
  --color-primary: #14172f;
  --color-secondary: #0093ff;
  --color-alternate: #004d8e;
  --color-gray: #e3e3e3;
  --color-light-gray: #edf1f5;
  --color-near-white: #f9fbfd;
  --color-near-black: #041216;
  --font-family-body: 'Red Hat Display', sans-serif;
  --font-family-heading: 'Red Hat Display', sans-serif;
  --header-height: 100px;
  --gutter-size: 30px;
  --swiper-theme-color: var(--color-primary);
  --swiper-navigation-color: var(--color-alternate);
  --swiper-pagination-bullet-inactive-color: var(--color-body-text);
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bottom: -50px;
}

@media screen and (min-width: 768px) {
  /*TABLET*/
  :root {
    font-size: 18px;
  }
}

#container {
  position: relative;
  right: 0;
  top: 0;
  overflow: clip;
  min-height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

html {
  box-sizing: border-box;
}

body {
  display: block !important;
  line-height: 1.6;
  color: var(--color-body-text);
  font-size: 1rem;
  font-family: var(--font-family-body);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Hidden elements */
.hide,
.show-in-pdf,
.show-for-pdf,
.mega-menu .sub-menu,
.gfield--type-captcha,
.grecaptcha-badge {
  display: none !important;
}

/* CORE > Headings and Paragraphs */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px;
  color: var(--color-primary);
  font-weight: 700;
  font-family: var(--font-family-heading);
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5,
h6 {
  font-size: var(--font-size-h5);
}

h2 strong,
h3 strong {
  font-weight: 700;
}

h1 span.subtitle,
h2 span.subtitle {
  display: block;
  color: var(--color-secondary);
  font-size: 50%;
}

p {
  margin: 0 0 30px;
  font-size: 1rem;
  color: var(--color-body-text);
}

ul {
  list-style: none;
}

/* CORE > Links and Buttons */
a {
  color: var(--color-secondary);
  text-decoration: underline;
}

a:hover,
a:focus {
  color: var(--color-alternate);
  text-decoration: none;
}

a.no-underline {
  text-decoration: none;
}

a.no-underline:hover,
a.no-underline:focus {
  text-decoration: underline;
}

a,
button,
.button,
.wp-element-button {
  transition: color 200ms ease-out, background 200ms ease-out,
    transform 60ms ease-in;
}

button,
.button,
.wp-element-button {
  font-family: var(--font-family-body);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 18px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  color: white;
  background-color: var(--color-alternate);
  text-decoration: none;
}

button:active,
.button:active,
.wp-element-button:active {
  transform: translateY(1.5px);
}

button:hover,
button:focus,
.button:hover,
.button:focus,
.wp-element-button:hover,
.wp-element-button:focus {
  background-color: var(--color-secondary);
  color: white;
}

button.alt-01,
.button.alt-01 {
  background-color: var(--color-secondary);
}

button.alt-01:hover,
button.alt-01:focus,
.button.alt-01:hover,
.button.alt-01:focus {
  background-color: var(--color-primary);
  color: white;
}

button.alt-02,
.button.alt-02 {
  background-color: var(--color-near-black);
}

button.alt-02:hover,
button.alt-02:focus,
.button.alt-02:hover,
.button.alt-02:focus {
  background-color: var(--color-alternate);
  color: white;
}

button.outline,
.button.outline {
  background: none;
  border: 2px solid var(--color-alternate);
  color: var(--color-alternate);
}

button.outline:hover,
button.outline:focus,
.button.outline:hover,
.button.outline:focus {
  background: var(--color-alternate);
  color: white;
}

button.outline.outline-alt-01,
.button.outline.outline-alt-01 {
  border-color: white;
  color: white;
}

button.outline.outline-alt-01:hover,
button.outline.outline-alt-01:focus,
.button.outline.outline-alt-01:hover,
.button.outline.outline-alt-01:focus {
  background: var(--color-near-white);
  color: var(--color-primary);
}

button.no-button,
.button.no-button {
  padding: 0;
  background: none;
  color: var(--color-secondary);
  text-transform: none;
}

button.no-button:hover,
button.no-button:focus,
.button.no-button:hover,
.button.no-button:focus {
  color: var(--color-near-black);
  text-decoration: underline;
}

/* CORE > Page Structure */
main {
  padding: 60px 0;
  min-height: 450px;
  display: block;
  width: 100%;
  overflow: clip;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.no-banner main {
  padding-top: 180px;
}

.content.full-width {
  float: none;
}

.content img {
  max-width: 100%;
  height: auto;
}

.content section:not(:last-of-type) {
  margin-bottom: 60px;
}

.columns,
.column {
  padding: 0 var(--gutter-size);
}

.row,
.row-wide,
.row-narrow {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.row-narrow {
  max-width: 1024px;
}

.row-wide {
  max-width: 1599px;
}

.row::after {
  clear: both;
}

.row:not(.main-inner)::before,
.row:not(.main-inner)::after {
  display: table;
  content: ' ';
  flex-basis: 0;
  order: 1;
}

.row.main-inner::before,
.row.main-inner::after {
  display: none;
}

@media screen and (min-width: 768px) {
  main {
    padding: 80px 0;
  }

  .main-inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
  }

  .content {
    width: 65%;
    margin-bottom: 0;
    padding-right: 70px;
  }

  .content.full-width {
    width: 100%;
    padding-right: var(--gutter-size);
  }

  .sidebar {
    width: 35%;
    padding-left: 0;
  }
}

@media screen and (min-width: 1025px) {
  .content {
    padding-right: calc(2 * var(--gutter-size));
  }
}

/* CORE > Priority Utility Classes */
.no-float {
  float: none;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-min-height {
  min-height: 0;
}

img.responsive-img,
.responsive-img img {
  max-width: 100%;
  height: auto;
}

.position-static,
.static {
  position: static !important;
}

.position-relative,
.relative {
  position: relative !important;
}

.position-absolute,
.absolute {
  position: absolute;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.visually-hidden {
  border: none !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.no-background {
  background: none !important;
}

.animate-in-view,
.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1 !important;
}

.uppercase {
  text-transform: uppercase;
}

.small-text {
  font-size: 0.9rem;
}

.larger-text {
  font-size: 1.2rem;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.bold,
.font-bold {
  font-weight: 700;
}

.font-extra-bold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pt80 {
  padding-top: 80px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb80 {
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .hide-for-medium {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .hide-for-large {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hide-for-small-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .show-for-small-only {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .show-for-medium {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hide-for-medium-only {
    display: none !important;
  }
}

@media screen and (max-width: 767px), screen and (min-width: 1025px) {
  .show-for-medium-only {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .show-for-large {
    display: none !important;
  }
}

/*******************************************************************************************
HEADER
*******************************************************************************************/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-near-white);
  z-index: 2;
  border-bottom: 2px solid transparent;
  transition: border-color 200ms ease-out;
}

.header-search {
  opacity: 0;
}

body.scrolled .header {
  border-color: var(--color-light-gray);
}

.header > .row {
  height: 100%;
}

.header a {
  text-decoration: none;
}

.header-desktop {
  display: none;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 8px;
}

.header-mobile-inner {
  display: flex;
  min-height: 70px;
}

.header-mobile-buttons {
  display: flex;
  margin-left: 4%;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.header-mobile-buttons a,
.header-mobile-buttons button {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  flex: 1;
  max-width: 50px;
  width: 50px;
  height: 50px;
}

.mega-menu {
  display: none;
}

@media screen and (min-width: 500px) {
  .header-mobile-buttons a,
  .header-mobile-buttons button {
    width: 60px;
    max-width: 60px;
    height: 60px;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1025px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: block;
  }

  .header-logo {
    padding: 0;
  }
}

/*******************************************************************************************
MENUS - Main navigation, dropdowns and mobile menu
*******************************************************************************************/
.main-navigation-menu {
  margin: 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.main-navigation-menu li {
  display: block;
  position: relative;
  padding: 0;
}

.main-navigation-menu > li {
  padding: 0 0 20px 0;
  margin-right: 35px;
}

.main-navigation-menu > li:last-of-type {
  margin-right: 0;
}

.main-navigation-menu > li:last-of-type > a {
  margin-right: 0;
}

.main-navigation-menu .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 300px;
  margin: 0;
}

.main-navigation-menu > a:hover + .mega-menu,
.main-navigation-menu > a:focus + .mega-menu,
.main-navigation-menu > li.active > .mega-menu,
.main-navigation-menu > a:hover + .sub-menu,
.main-navigation-menu > a:focus + .sub-menu,
.main-navigation-menu > li.active > .sub-menu {
  display: block;
  -webkit-animation: menuSlideDown 200ms both;
  animation: menuSlideDown 200ms both;
}

.main-navigation-menu a:focus,
.main-navigation-menu a:hover,
.main-navigation-menu li:hover > a {
  color: var(--color-secondary);
  text-decoration: underline;
}

.main-navigation-menu > li > a {
  position: relative;
  display: block;
  height: 100%;
  color: var(--color-primary);
  line-height: 1;
  font-weight: 700;
}

/* MENUS > Main Nav Dropdowns (Level 2) */
#desktop-navigation .sub-menu li,
.mega-menu li {
  background: var(--color-primary);
  padding-left: 35px;
  transition: background 200ms ease-out;
}

#desktop-navigation .sub-menu li {
  position: relative;
  cursor: pointer;
}

#mega-menu li a,
#desktop-navigation .sub-menu li a {
  color: white;
  font-size: 0.9rem;
  display: block;
  padding: 12px;
  padding-left: 0;
  line-height: 1;
  text-decoration: none;
}

.mega-menu li.active,
#desktop-navigation .sub-menu li.active {
  background: var(--color-secondary);
}

.mega-menu li::before,
#desktop-navigation .sub-menu li::before {
  content: '\f105';
  font-family: 'Font Awesome 6 Pro';
  position: absolute;
  left: 10px;
  top: 6px;
  color: var(--color-secondary);
  pointer-events: none;
  transition: color 200ms ease-out;
}

.mega-menu li.active::before,
#desktop-navigation .sub-menu li.active::before {
  color: white;
}

#desktop-navigation .sub-menu .menu-item-has-children > a::after {
  content: '\f101';
  font-family: 'Font Awesome 6 Pro';
  position: absolute;
  right: 10px;
  color: var(--color-secondary);
}

#desktop-navigation .sub-menu .menu-item-has-children.active > a::after {
  color: white;
}

#desktop-navigation .sub-menu .menu-item-has-children ul {
  position: absolute;
  left: 100%;
  top: 0;
}

#desktop-navigation .sub-menu .sub-menu .sub-menu {
  display: none !important;
}

#desktop-navigation .sub-menu .menu-item-has-children:hover ul,
.menu-item-has-children.active > .sub-menu {
  display: block;
  -webkit-animation: menuSlideRight 200ms both;
  animation: menuSlideRight 200ms both;
}

/* MENUS > Mobile Menu */
#mobile-navigation {
  display: none;
}

/*******************************************************************************************
BANNER - Page-top image and title
*******************************************************************************************/

.banner {
  height: 225px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.banner,
.banner-xl {
  margin-top: 65px;
}

.banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(20, 23, 47, 0.5);
  pointer-events: none;
}

.banner img {
  position: relative;
  width: 100%;
}

.banner > .row {
  height: 100%;
}

.banner-inner {
  position: relative;
  z-index: 1;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  float: none;
}

.banner-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-near-white);
  margin-bottom: 0;
  font-family: var(--font-family-heading);
}

@media screen and (min-width: 1025px) {
  .banner {
    height: 350px;
  }

  .banner,
  .banner-xl {
    margin-top: 90px;
  }

  .banner-title {
    font-size: 3.4rem;
  }
}

/*******************************************************************************************
PRIORITY - Other important styles
*******************************************************************************************/

.accordion-item-title {
  background: none;
}

.swiper {
  visibility: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  background: none !important;
  padding: 0;
}
